.root {
  --color1: #303841;
  --color2: #3A4750;
  --color3: #EA9215;
  --color4: #EEEEEE;
}

body {
  background-color: grey;
}

.css-table {
  display: table;
}

.css-table-row {
  display: table-row;
}

.css-table-row div {
  display: table-cell;

  padding: 5px 0px;
  min-width: 100px;
}

.block {
  margin: 10px 0px 20px 0;
  border-radius: 10px;
  background-color: var(--color1);
}